SA_CONFIGURATION
{
    MULTIPATH_ASSIGNER {
        ENABLED TRUE
        PERCENTAGE_BLOCKED 75
        MAX_RANGE 1000
    }

    INTERFERENCE_ASSIGNER {
        ENABLED FALSE
        MIN_SCORE 0.75
        MAX_COUNT 10
    }

    FORMATION_ASSIGNER {
        ENABLED TRUE
        MAX_TRACK_DISTANCE 100
        MAX_SPEED_DIFFERENCE 5
        MAX_COURSE_DIFFERENCE 35
        MIN_NUMBER_OF_TRACKS 3
        MIN_SCORE 0.7

        PASS_CLASSIFICATIONS "SMALL_BIRD, MEDIUM_BIRD, LARGE_BIRD, FLOCK"
    }

    ROADADHERENCE_ASSIGNER {
        ENABLED TRUE
        ALIGNMENT_WINDOW 8 ; [s]
        MAX_ANGLE_DIFF 6   ; [deg]
        MAX_SIGMA 5        ; [m]
        MIN_VELOCITY   2.8 ; [m/s] required speed. (if v > 0)
        MIN_DISTANCE 100.0 ; [m]   required start-end distance. (if v > 0)
        BEGIN_TIMEOUT 0.0  ; road enter. track will never become vehicle if it is not on road within this time period
        LEAVE_TIMEOUT 3.0  ; road leaving. track will stop being a vehicle after this time, but is still candidate until end-time is reached
        END_TIMEOUT   6.0  ; road leaving. track will never become vehicle after this period

        LOST_ALIGNMENT_TIMEOUT -1.0 ; on road. track will stop being a vehicle when it is no longer aligned. (check is disabled when set to -1.0)
    }

    AIRSPEED_ASSIGNER {
        ENABLED TRUE
        ROUGHNESS_COEFFICIENT 0.2
        DEFAULT_TRACK_ALTITUDE 100
    }

    AIRCRAFTSTATE_ASSIGNER {
        ENABLED TRUE
        CHECK_LARGE FALSE           ; if true, track must have the LARGE property
        CHECK_HEAVY TRUE            ; if true, track must have the HEAVY property
        ;MINIMUM_CORRECTED_MASS 50  ; median corrected mass of track mass must be over this value (remove this key to disable)
    }

    CLASSIFICATION_ASSIGNER {
        ENABLED TRUE

        MIN_SCORE 0.7
        MIN_SCORE_VR 0.4

    ;-- Vehicle & Aircraft ------------------

        CLASSIFICATION
        {
            CLASSIFICATION AIRCRAFT
            NAME "Aircraft"
            DEFAULT_COLOR #00bfff
            CRITERIUM
            {
                CRITERIUM ADSB_AIRCRAFT
                CRITERIUM_TYPE BOOLEAN
                VALUE TRUE
            }
        }
        CLASSIFICATION
        {
            CLASSIFICATION VEHICLE
            NAME "Vehicle"
            DEFAULT_COLOR #00ff00
            CRITERIUM
            {
                CRITERIUM ADSB_VEHICLE
                CRITERIUM_TYPE BOOLEAN
                VALUE TRUE
            }
        }

        CLASSIFICATION
        {
            CLASSIFICATION AIRCRAFT
            NAME "Aircraft"
            DEFAULT_COLOR #00bfff
            CRITERIUM
            {
                CRITERIUM AIRCRAFTSTATE_AIRBORNE_AIRCRAFT  ; use AIRCRAFTSTATE_CANDIDATE_AIRCRAFT to prefer aircraft over vehicle on taxiways
                CRITERIUM_TYPE BOOLEAN
                VALUE TRUE
            }
        }
        CLASSIFICATION
        {
            CLASSIFICATION VEHICLE
            NAME "Vehicle"
            DEFAULT_COLOR #00ff00
            CRITERIUM
            {
                CRITERIUM ROAD_ADHERENCE
                CRITERIUM_TYPE BOOLEAN
                VALUE TRUE
            }
        }

        CLASSIFICATION
        {
            CLASSIFICATION AIRCRAFT
            NAME "Aircraft"
            DEFAULT_COLOR #00bfff
            CRITERIUM
            {
                CRITERIUM MEDIAN_CORRECTED_MASS
                CRITERIUM_TYPE FIXED
                MINIMUM 65
                MAXIMUM 100
            }
            CRITERIUM
            {
                CRITERIUM ALTITUDE  ; [ref.Z]
                CRITERIUM_TYPE FIXED
                MINIMUM 50
                MAXIMUM 100000
            }
        }
        CLASSIFICATION
        {
            CLASSIFICATION VEHICLE
            NAME "Vehicle"
            DEFAULT_COLOR #00ff00
            CRITERIUM
            {
                CRITERIUM MEDIAN_CORRECTED_MASS
                CRITERIUM_TYPE FIXED
                MINIMUM 65
                MAXIMUM 100
            }
        }

    ;--Limits--------------------------------

        CLASSIFICATION
        {
            CLASSIFICATION SLOW_TARGET
            NAME "Slow Target"
            DEFAULT_COLOR #008000
            CRITERIUM
            {
                CRITERIUM MAX_SPEED
                CRITERIUM_TYPE FIXED
                MINIMUM 0
                MAXIMUM 5
            }
        }

        CLASSIFICATION
        {
            CLASSIFICATION SLOW_TARGET
            NAME "Slow Target"
            DEFAULT_COLOR #008000
            CRITERIUM
            {
                CRITERIUM ASSIGNABLE_PROPERTY
                CRITERIUM_TYPE COMPARE
                COMPARE_VALUE STATIONARY
                MATCH_RESULT TRUE
            }
        }

        CLASSIFICATION
        {
            CLASSIFICATION FAST_TARGET
            NAME "Fast Target"
            DEFAULT_COLOR #007DFF
            ;SKIP_DB FALSE  ; (this classification is mostly crap, skip?)
            CRITERIUM
            {
                CRITERIUM MAX_SPEED
                CRITERIUM_TYPE FIXED
                MINIMUM 36.1  ; max bird speed
                MAXIMUM 1000000
            }
        }

    ;--Birds---------------------------------

        ;CLASSIFICATION
        ;{
        ;    CLASSIFICATION FAST_FLOCK
        ;    NAME "Fast Flock"
        ;    DEFAULT_COLOR  #9c27b0  ;paars ;(default: #ff00ff)
        ;    CRITERIUM
        ;    {
        ;        CRITERIUM ASSIGNABLE_PROPERTY
        ;        CRITERIUM_TYPE COMPARE
        ;        COMPARE_VALUE IN_BLOB_FORMATION
        ;        MATCH_RESULT TRUE
        ;    }
        ;    CRITERIUM
        ;    {
        ;        CRITERIUM MEDIAN_CORRECTED_MASS
        ;        CRITERIUM_TYPE FIXED
        ;        MINIMUM 0
        ;        MAXIMUM 65
        ;    }
        ;    CRITERIUM
        ;    {
        ;        CRITERIUM AVG_AIRSPEED     ; adjusted avg.4 estimates: [MAX_SPEED, CORRECTED_SPEED]. (do not use VELOCITY)
        ;        CRITERIUM_TYPE FIXED
        ;        MINIMUM 16.0  ; required bird speed
        ;        MAXIMUM 1000000
        ;    }
        ;}

        CLASSIFICATION
        {
            CLASSIFICATION FLOCK
            NAME "Flock"
            DEFAULT_COLOR #ff00ff
            CRITERIUM
            {
                CRITERIUM ASSIGNABLE_PROPERTY
                CRITERIUM_TYPE COMPARE
                COMPARE_VALUE IN_BLOB_FORMATION
                MATCH_RESULT TRUE
            }
            CRITERIUM
            {
                CRITERIUM MEDIAN_CORRECTED_MASS
                CRITERIUM_TYPE FIXED
                MINIMUM 0
                MAXIMUM 65
            }
        }

        CLASSIFICATION
        {
            CLASSIFICATION LARGE_BIRD
            NAME "Large bird"
            DEFAULT_COLOR #ff0000
            CRITERIUM
            {
                CRITERIUM MEDIAN_CORRECTED_MASS
                CRITERIUM_TYPE FIXED
                MINIMUM 40
                MAXIMUM 65
            }
        }

        CLASSIFICATION
        {
            CLASSIFICATION MEDIUM_BIRD
            NAME "Medium bird"
            DEFAULT_COLOR #ffa500
            CRITERIUM
            {
                CRITERIUM MEDIAN_CORRECTED_MASS
                CRITERIUM_TYPE FIXED
                MINIMUM 30
                MAXIMUM 40
            }
        }

        CLASSIFICATION
        {
            CLASSIFICATION SMALL_BIRD
            NAME "Small bird"
            DEFAULT_COLOR #ffff00  ;geel
            CRITERIUM
            {
                CRITERIUM MEDIAN_CORRECTED_MASS
                CRITERIUM_TYPE FIXED
                MINIMUM -10
                MAXIMUM 30
            }
        }

    ;--Fallback------------------------------

        CLASSIFICATION
        {
            ;catch-all
            CLASSIFICATION UNKNOWN
            NAME Unknown
            DEFAULT_COLOR #ffffff  ;wit
        }
    }

    TRACKPREDICTION_ASSIGNER {
        ENABLED TRUE
        PREDICTION_VECTOR_WINDOW 10
    }

    RCS_PATTERN_ASSIGNER {
        ENABLED TRUE
        VALUE_METRIC CORRECTED_MASS; PEAK_MASS
    }

    TRACKING_ASSIGNER {
        ENABLED FALSE
        MAX_LAST_ALT_UPDATE 40 ;Track must have an updated altitude in the last X sec.
        SCANNING_REQUEST_DURATION 50   ; sec life time of scanning req
        SCANNING_ELEVATION_VELOCITY 20 ; RPM
        TRACKING_REQUEST_DURATION 50   ; sec minimal lifetime of request
        TRACKING_IMAGE_DURATION 1      ; sec recording time of staring images
        MAX_TIME_NO_SCANNING_UPDATE 10 ;
    }

    AUTOMATIC_ACQUISITION_ASSIGNER {
        ENABLED FALSE
        AUTOMATIC_ACQUISITION_MODE CLOCKWISE ;DENSITY
        ENABLE_AA_LOGGING FALSE
        LOG_AA_ACTION_ON_PRIMARY_TARGET FALSE
        MIN_TRACK_AGE 10
        NUMBER_OF_ALTITUDE_HITS 2
        ACQUIRE_WINGBEAT FALSE
        ACQUIRE_WINGBEAT_TIMEOUT 180
        CHECK_INCOMING_TRACK TRUE  ; (used by DENSITY mode)
    }

    ALARM_ASSIGNER {
        ENABLED TRUE
        MIN_TRACK_AGE 10
        PASS_TRACK_TYPES "RAAZEL, RAAZ"

        AREA {
            NAME ToaEHEH0321				    ; Tracks on airstrip area (MV TOA graph)
            PASS_CLASSIFICATIONS "SMALL_BIRD, MEDIUM_BIRD, LARGE_BIRD, FLOCK"
        }
    }

    WARNING_ASSIGNER {
        ENABLED FALSE
        PASS_TRACK_TYPES "RAAZEL, RAAZ"

        REQUIRE_IN_WARNING_AREA TRUE
        MIN_TTI -1

        ;AREA {
        ;    NAME WaEHEH0321
        ;    PASS_CLASSIFICATIONS "SMALL_BIRD, MEDIUM_BIRD, LARGE_BIRD, FLOCK"
        ;}
    }

    NEARMISS_ASSIGNER {
        ENABLED TRUE
        NEAR_MISS_DISTANCE 100
        PASS_CLASSIFICATIONS "SMALL_BIRD, MEDIUM_BIRD, LARGE_BIRD, FLOCK"

        ; Comma-separated list of shapes (typically airstrips) you want to check - empty list means "check all"
        SHAPES_OF_INTEREST ""
        ; SHAPES_OF_INTEREST "Kaagbaan"
        ; SHAPES_OF_INTEREST "Kaagbaan, Polderbaan"
    }

    FLIGHTCORRELATION_ASSIGNER {
        ENABLED TRUE
        MIN_SCORE 0.7
    }

    AIRSPACE_INFRINGEMENT_ASSIGNER {
        ENABLED TRUE
        ADSB_LOST_ALERT FALSE
        MIN_TRACK_AGE 18
        MIN_SCORE 0.7

        AREA {
            NAME CtrEindhoven
            PASS_CLASSIFICATIONS "AIRCRAFT"
        }
    }

    RUNWAY_INCURSION_ASSIGNER {
        ENABLED TRUE
        RUNWAYS "AirstripEHEH0321"

        ; APRONS_AS_TAXIWAYS TRUE
        ; HEAVY_AS_VEHICLE TRUE;
        ; TOWARDS_MAX_ANGLE 45 ; degrees
        ; MIN_TAKEOFF_VELOCITY_KNOTS -1 ; -1 means no check on takeoff velocity
    }

    RUNWAY_TRAFFIC_ASSIGNER {
        ENABLED TRUE
        AIRBASE_FILE Eindhoven_Airbase.info
        MIN_SCORE 0.5
        ALTITUDE_REQUIRED TRUE
        AVG_TIME_WINDOW 600
        PASS_CLASSIFICATIONS "SMALL_BIRD, MEDIUM_BIRD, LARGE_BIRD, FLOCK"
        ADD_SHAPE_TO_OVERLAYS TRUE
    }

    TRACK_ON_AIRSTRIP_ASSIGNER {
        ENABLED TRUE
        DEBUG_MODE FALSE
        LOG_INTERVAL 60
        TIME_WINDOW 60

        ; Note 2. To show the TOA Graph in MobileViewer, you must specify the shape label in:
        ;         PluginFieldAppService.config > PLUGIN.ACTIVE_AIRSTRIP "Airstrip1-Alarm"
        ; Note 4. If things do not work, check the PASS_CLASSIFICATIONS parameter of the shape
        ;         in shape file. Remove it to pass all classifications.
        ;
        ; TODO: This can be enhanced. See ticket #2802.

        ; Comma-separated list of airstrips you want to check - empty list means "check all"
        SHAPES_OF_INTEREST "ToaEHEH0321"
    }

    ACTIVE_RUNWAY_ASSIGNER {
        ENABLED FALSE
        DEBUG_MODE FALSE
        SCANNING_ELEVATION_VELOCITY 20 ; RPM

        RUNWAY {
            NAME "AirstripX"
            RADAR ROBIN_FMCW
            ORIENTATION 100
        }
    }

    AREA_DENSITY_ASSIGNER {
        ENABLED FALSE
        DEBUG_MODE FALSE
        SCANNING_ELEVATION_VELOCITY 20 ; RPM
        CHECK_INCOMING_TRACK TRUE
        PASS_CLASSIFICATIONS "SMALL_BIRD, MEDIUM_BIRD, LARGE_BIRD, FLOCK"
        SCANNING_REQUEST_DURATION 0   ; sec life time of scanning req

        RADAR {
            NAME FMCW
        ; Comma-separated list of warning area shapes you want to check - empty list means "check all"
        ;    SHAPES_OF_INTEREST "AA_Area1"
        }
    }

    LOITERING_ASSIGNER {
        ENABLED TRUE
        MIN_AGE 15
        TIMESPAN 15
        THRESHOLD 10.0; ratio of path length over the distance over the timespan
    }

    CIRCLING_ASSIGNER {
        ENABLED TRUE
        TIMESPAN 20
        THRESHOLD 9.0; cumulative angle (in radians) over the timespan
    }
}
